.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
background-color: #0052d0 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* custom fonts ibm */
@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Thin.ttf") ;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-ExtraLight.ttf"); 
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM";
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
/* custom fonts ibm */